*{
  -webkit-padding-start: 0;
  box-sizing: border-box;
}

html, body, ul, li{
  padding: 0;
  margin: 0;
}

html, body{
  font-family: Arial, sans-serif;
}

.todo-container{
  width: 700px;
}

.todo-title{
  padding: 10px;
  background-color: cornflowerblue;
}

.todo-body{
  padding: 10px;
  background-color: white;
}

.todo-item{
  padding: 10px;
  border-bottom: 1px solid darkgray;
  font-size: 0;
  cursor: pointer;
}

.todo-item:last-child{
  border-bottom: none;
}

.todo-item.done .todo-item-span{
  text-decoration: line-through;
  color: dimgrey;
}
.todo-item.done .todo-item-status{
  text-decoration: none;
  color: black;
}

.todo-item-span{
  display: inline-block;
  margin-right: 10px;
  font-size: 14px;
}

.todo-item-span:last-child{
  margin-right: 0;
}

.todo-item-title{
  width: 50px;
}

.todo-item-text{
  width: 200px;
}

.todo-item-status{
  margin-right: 30px;
  width: 25px;
  border: 1px solid darkgrey;
  text-align: center;
  padding: 3px;
}

.todo-nav{
  padding: 20px;
  font-size: 0;
}

.todo-nav-item{
  display: inline-block;
  padding: 10px 15px;
  margin: 0 10px 0 0;
  text-decoration: none;
  background-color: darkgray;
  font-size: 16px;
  color: black;
}
.todo-nav-item.active{
  background-color: cornflowerblue;
}
.todo-nav-item:last-child{
  margin-right: 0;
}
.todo-nav-item:hover{
  text-decoration: underline;
}

.todo-form-group{
  margin-bottom: 10px;
}

.todo-input{
  width: 100%;
  min-height: 40px;
  padding: 5px 10px;
  border: 2px solid dodgerblue;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: black;
  resize: vertical;
}

.todo-input-label{
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: dimgray;
}

.todo-button{
  padding: 7px 30px;
  background-color: cornflowerblue;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.todo-error{
  margin-bottom: 15px;
  padding: 10px 20px;
  border: 1px solid red;
  background-color: rgba(255,0,0,0.2);
  border-radius: 5px;
  font-size: 14px;
  color: red;
}

.todo-success{
  margin-bottom: 15px;
  padding: 10px 20px;
  border: 1px solid green;
  background-color: rgba(0,255,0,0.2);
  border-radius: 5px;
  font-size: 14px;
  color: green;
}